.parent{
    width:-webkit-fill-available;
    margin:30px;
    margin-bottom: 48px;
    transition: margin 0.2s ease;
    
}
.parent:hover{
    margin: 26px;
    cursor: pointer;
    
}
.image{
    width: -webkit-fill-available;
    background-position: center;
    background-size: cover;
    min-height: 220px;
    border-radius: 30px;
    position: relative;
}
.favoriteButtonContainer{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 99;
    width: 50px;
    height:50px;
    background-color: rgba(0, 0, 0, 0.70);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px;
    font-size: 25px;
    border-radius: 20px;
    box-shadow: 0 0 3px -1px rgba(0, 0, 0, 0.53);

}
.details{
    margin-top: 14px;
    font-size: 15px;
    margin-left: 10px;
}
.name{
    font-weight: 500;
    margin-bottom: 8px;
    font-size: 18px;

}
.rating>span{
    font-size: 18px;
}
.cookTime{
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: white;
    padding: 8px;
    padding-left: 12px;
    padding-right: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    font-size: 13px;

}
.cookTime>div{
    padding-left: 3px;
}
.cal{

    border:0.1px black solid;
    border-radius: 6px;
    font-size: 12px;
    padding: 7px;
    color: white;
    background-color: black;
}
.mealType{
    border-radius: 6px;
    font-size: 12px;
    padding: 7px;
    color: white;
    margin-left: 8px;
}