.imageCont{

    background-image: url('https://images.pexels.com/photos/12077980/pexels-photo-12077980.jpeg?auto=compress&cs=tinysrgb&w=1200');
    background-position: center;
    background-size: cover;
}
.container{
    display: flex;
    justify-content: space-evenly;
    min-height: 100vh;

}
.container>div{
    width: 50%;
}
