@tailwind base;
@tailwind components;
@tailwind utilities;

.homeCover{
  background-image: url('/assets/cover4.jpg');
  height: 98vh;
  background-position: center;
  width: auto;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.homeCoverText {
  max-width: max-content;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  backdrop-filter: blur(5px);
  color: white;
}
