.greeting{
    font-size: 40px;
    color:black;
    font-weight:800;
    margin-bottom: 10px;
}
.container{
    margin: auto;
    margin-left: auto;
    display: flex;
    justify-content: center;
    padding-top: 90px;
    padding-bottom: 90px;
}
.subGreeting{
    color: rgba(145, 142, 142, 0.8);
    font-size: 16px;
    margin-bottom: 28px;
}
.inputLabel{
    font-size: 15px;
    color: black;
    margin-bottom: 3px;
}
.inputField{
    width: 100%;
    border: none;
    border: 0.3px grey solid;
    border-radius: 8px;
    padding: 12px;
    font-size: 12px;
    margin-bottom: 20px;
    background-color: white;
    -webkit-appearance: none;
}
.submitButton{
    width: 100%;
    padding:12px;
    font-size: 15px;
    border: none;
    background-color: black;
    border-radius: 8px;
    color: white;
    margin-top: 25px;
    cursor: pointer;
}
.submitButton:hover{
    opacity: 0.8;
}
.signUpText{
    margin-top: 22px;
    color: rgba(145, 142, 142, 0.8);
    font-size: 16px;
    display: flex;
    justify-content: center;
}
.signUpText>a{
    color: #4286f4;
    padding-left: 8px;
    cursor: pointer;
    text-decoration: none;
}
.signUpText>a:hover{
    opacity: 0.7;
}
.error{
    color: red;
    font-size: 13px;
    padding-bottom: 8px;
}