.page{
    font-family: Arial, Helvetica, sans-serif;
}
/* .image {
    display: block;
    margin: auto;
    max-width: auto; 
    max-height: 75vh; 
    height: auto;
    border-radius: 5%;
} */
.centerStyle{
    text-align: center;
    font-size: 2cap;
}
.flexContainerStyle{
    display: flex;
    width: 75%;
    margin: auto;
}
.flexItemStyle{
    flex: 1;
}
.list{
    list-style-type: square;
}